a{
  color:#55c658
}
.KnowledgeList{
  width: 96%;
  padding:2%;
}
.KnowledgeItem{
  display :flex;
  flex-direction :row;
  justify-content :space-between;
  padding-top:.3rem;
  margin-top:.3rem;
  border-top:1px solid #eaeaea;

}
.KnowledgeItemLeft{
  width: 58%;
}
.KnowledgeItemTitle{
  color:#606060;
  font-size:.3rem;
  line-height:.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.KnowledgeItemDes{
  color:#999999;
  font-size:.3rem;
  line-height:.4rem
}
.KnowledgeItemRight{
  width:40%;
}
.KnowledgeItemRight img{
  width:100%;
  height:auto;
}

